@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.cursive {
  font-family: "Cedarville Cursive", cursive;
}
.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #ffd900 0.01%, #ffda08 50.01%, #ffe867 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #92850c1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.253) 0%,
      rgb(255, 185, 54) 100%
    ),
    rgb(255, 238, 0);
  box-shadow: inset 0 0 12px #fffd973d;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.253) 0%,
      rgb(255, 185, 54) 100%
    ),
    rgb(255, 244, 83);
  box-shadow: inset 0 0 12px #fffd973d;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 1.1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6a316;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: yellow;
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.cursor-text {
  font-size: 5px;
  font-weight: 900;
  letter-spacing: 1px;
  display: none;
}
